
body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: rgba(140, 48, 27, 0.86);
    background: url(../img/info-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

/* arrows */
#navArrows {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 100px auto 0;
    background: #333;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding: 20px;
}

.navigationArrow {
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    background: white;
    color: #222;
}

#up {
    top: 10px;
    left: 50%;
    margin-left: -25px;
}

#left {
    left: 10px;
}

#left, #right {
    top: 50%;
    margin-top: -25px;
}

#right {
    right: 10px;
    left: inherit;
}

#down {
    bottom: 10px;
    top: inherit;
    left: 50%;
    margin-left: -25px;
}

.box {
    height: 100px;
    width: 100px;
    background: #a7f;
    color: white;
    border: solid 4px #a1f;
    line-height: 100px;
    margin: 100px auto 0;
    opacity: 0.5;

    /* for position properties to work in jQuery animate, you need to make sure the element being animated has a position property defined */
    position: relative;

}

/* Set-up */
body {
    color: rgb(6, 106, 117);
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 100%;
    background: #F4F6F8;
    padding: 3em 0 0 0;
    line-height: 62px;
    -webkit-perspective: 1000px; /* <-NB */
}

/* Container box to set the sides relative to */
.cube {
    width: 30%;
    text-align: center;
    margin: 0 auto;
    height: 100px;

    -webkit-transition: -webkit-transform .33s;
    transition: transform .33s; /* Animate the transform properties */

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; /* <-NB */
}

/* The two faces of the cube */
.flippety,.flop {
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189, .8);

    -webkit-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0 5px 20px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
    box-shadow: 0 5px 20px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
    height: 100px;
}

/* Position the faces */
.flippety {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
}

.flop {
    -webkit-transform: rotateX(-90deg) translateZ(-50px);
    transform: rotateX(-90deg) translateZ(-50px);
}

/* Rotate the cube */
.cube:hover {
    -webkit-transform: rotateX(89deg);
    transform: rotateX(89deg); /* Text bleed at 90º */
}


#Board {
    background-color:#373a43;
    position:relative;
    width:535px;
    height:432px;
    margin:0 auto 10px;
    border:1px #aaa solid;
    border-radius: 18px;
    paBalling:10px;
    z-index: 2;
}

#BoardCenter {
    width:100px;
    height:100px;
    position:absolute;
    top:165px;
    left:217px;
    color:#000;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    background: rgb(238,238,238);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 );
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    z-index: 0;
}

.BoardName{
    color:#fff;
    position:relative;
    top:45%;
    left:41%;
    z-index: -1;
}

.BallText{
    paBalling:2px;
    width:20px;
    height:20px;
//border:solid #fff 3px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    position:relative;
    top:6px;
    left:11px;
    font-size:13px;
}

#Ball1, #Ball2, #Ball3, #Ball4, #Ball5, #Ball6, #Ball7, #Ball8 {
    color:#fff;
    width:30px;
    height:30px;
    position:absolute;
    top:200px;
    left:250px;
    border:solid #fff 2px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    background: rgb(69,72,77);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 99%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(69,72,77,1)), color-stop(99%,rgba(0,0,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 99%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 99%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 99%);
    background: radial-gradient(ellipse at center,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);}

#Ball1 {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;  }

#Ball2 {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;  }

#Ball3 {
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;  }

#Ball4 {
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    -ms-transition-delay: 0.4s;
    transition-delay: 0.4s;  }

#Ball5 {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;  }

#Ball6 {
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    -ms-transition-delay: 0.6s;
    transition-delay: 0.6s;  }

#Ball7 {
    -webkit-transition-delay: 0.7s;
    -moz-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    -ms-transition-delay: 0.7s;
    transition-delay: 0.7s;  }

#Ball8 {
    -webkit-transition-delay: 0.8s;
    -moz-transition-delay: 0.8s;
    -o-transition-delay: 0.8s;
    -ms-transition-delay: 0.8s;
    transition-delay: 0.8s;  }

#Board:hover #BoardCenter {
    opacity:0;
}

#Board:hover #Ball1, #Board.hover_effect #Ball1 {
    -webkit-transform: translate(-250px,-200px);
    -moz-transform: translate(-250px,-200px);
    -o-transform: translate(-250px,-200px);
    -ms-transform: translate(-250px,-200px);
    transform: translate(-250px,-200px);}

#Board:hover #Ball2, #Board.hover_effect #Ball2 {
    -webkit-transform: translate(0,-200px);
    -moz-transform: translate(0,-200px);
    -o-transform: translate(0,-200px);
    -ms-transform: translate(0,-200px);
    transform: translate(0,-200px);}

#Board:hover #Ball3, #Board.hover_effect #Ball3 {
    -webkit-transform: translate(250px,-200px);
    -moz-transform: translate(250px,-200px);
    -o-transform: translate(250px,-200px);
    -ms-transform: translate(250px,-200px);
    transform: translate(250px,-200px);}

#Board:hover #Ball4, #Board.hover_effect #Ball4 {
    -webkit-transform: translate(250px, 0);
    -moz-transform: translate(250px, 0);
    -o-transform: translate(250px, 0);
    -ms-transform: translate(250px, 0);
    transform: translate(250px, 0);}

#Board:hover #Ball5, #Board.hover_effect #Ball5 {
    -webkit-transform: translate(250px,200px);
    -moz-transform: translate(250px,200px);
    -o-transform: translate(250px,200px);
    -ms-transform: translate(250px,200px);
    transform: translate(250px,200px);}

#Board:hover #Ball6, #Board.hover_effect #Ball6 {
    -webkit-transform: translate(0,200px);
    -moz-transform: translate(0,200px);
    -o-transform: translate(0,200px);
    -ms-transform: translate(0,200px);
    transform: translate(0,200px);}

#Board:hover #Ball7, #Board.hover_effect #Ball7 {
    -webkit-transform: translate(-250px,200px);
    -moz-transform: translate(-250px,200px);
    -o-transform: translate(-250px,200px);
    -ms-transform: translate(-250px,200px);
    transform: translate(-250px,200px);}

#Board:hover #Ball8, #Board.hover_effect #Ball8 {
    -webkit-transform: translate(-250px,0);
    -moz-transform: translate(-250px,0);
    -o-transform: translate(-250px,0);
    -ms-transform: translate(-250px,0);
    transform: translate(-250px,0);
}

.credit{
    font-size:15px;
    float:right;
    color:#fff;
    text-decoration:none;
    font-weight:bolder;
}